*{
	background-color: #D2D4C8;
   
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2E3532;
  max-width: 550px;
  margin: auto;
}
.heading-1 h1{
	text-align: center;
	  max-width: 525px;
  margin: auto;
  color: #8B2635;
}
.product1{
	float: left;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #2E3532;
}

li a:hover {
  background-color: #111;
}

.logo{
  height: 50px;
  width: 95px
}
.main, .main2, .main3{

	border-style:inset;
}
.mains{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-gap: 10px;

}
.product2{
	height: 290px;
	width:290px;
	float: left;
}
.product3{
	height: 290px;
	width: 290px;
	float: left;
}
.main, a{
  text-decoration: none;
  color: black;
}
.img1{
  
	float: left;
	padding-right: 350px

}
.p1{
	width: 925px;
	text-align: center;
}



/*-----------------------index.html-----------------------------*/

.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
 /* border: solid 1px;*/
}

#div1{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 40px;
  border: solid 10px;
  border-color: #caccc0;



}
#div2{
  border: solid 10px;
  border-color: #caccc0;
}












