
header{
	background-color: #D2D4C8;
  margin: 1px;
}
main{
  background-color: #D2D4C8;
  font-family:Trebuchet MS;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 
#2E3532;
  max-width: 550px;
  margin: auto;
}
.heading-1 h1{
	text-align: center;
	  max-width: 525px;
  margin: auto;
  color: #8B2635;
  font-family:Trebuchet MS;
}
.product1{
	float: left;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.logo{
  height: 50px;
  width: 95px
}
.main, .main2, .main3{
	border-style:inset;
}
.mains{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-gap: 10px;
}
.product1{
    height: 290px;
  width:290px;
  float: left;
}
.product2{
	height: 290px;
	width:290px;
	float: left;
}
.product3{
	height: 290px;
	width: 290px;
	float: left;
}
.main, a{
  text-decoration: none;
  color: black;
}
.img1{
	float: left;
	padding-right: 350px
}
.img2{
  height: 290px;
  width: 290px;
    float: left;
  padding-right: 350px
}
.p1{
	width: 925px;
	text-align: center;
}
/*-----------------------index.html-----------------------------*/
.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body{
  margin: 0 auto;
  background-color: #D2D4C8;

}
#div1{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 30px;
  border-left: solid 10px;
  border-bottom:  solid 10px;
  border-top:  solid 10px;
  border-color: #a6a89d;
  background-color: #c8c9bd;
}
#div2{
  border: solid 10px;
  border-color: #a6a89d;
  display: flex;
  justify-content: center;
  background-color: #c8c9bd;
  text-align: center;
  flex-direction: column;
}
.div20{
  text-align: center;
  color: #5B2C2C;
  margin: 50px;
}
.infopc{
  display: inline-block;
  font-size: 20px;
  color: #301818;
  margin-bottom: 40px;
}
footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #B8B8AE;
  font-family:Trebuchet MS;
  height: 200px;

}
footer h3{
  margin: 10px;
  text-align: center;
  color: #5B2C2C;
}
.hola{
  background-color: #B8B8AE;
  margin-left:170px;
  display: flex;
  flex-direction: column;
}
 #ppp{
  font-size: 30px;
 }

#fot{
  position: absolute;
  bottom: 0;
  width: 110%;
   
  
  margin: -10%;
  
}

/*----------------------contact-----------------------*/
.icons{
  display: inline-block;
}